body {
    background-color: #EFEFEF;
}
.main {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.phone {
    width: 380px;
    margin: 0 32px 12px 0;
}
.main__sign {
    display: flex;
    flex-direction: column;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    border: 1px solid lightgray;
    background-color: white;
}
.login__icon {
    width: 270px;
    margin: 0 0 24px;
}
.login__button {
    height: 36px;
    width: 100%;
    margin: 8px 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #47afff;
}
.login__variance {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.variant {
    margin: 0 18px;
    font-weight: bold;
    color: #8E8E8E;
}
.login__facebook {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.facebook {
    width: 40px;
}
.facebook-text {
    font-size: 14px;
    color: #385185;
}
.login__text {
    margin: 20px 0 18px;
    color: #00376B;
}
.registration {
    margin: 10px 0;
    padding: 25px 15px;
    border: 1px solid lightgray;
    background-color: white;
}
.registration__text {
    font-size: 14px;
    text-align: center;
}
.registration__apply {
    color: #0095F6;
}
.download {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}
.download__text {
    font-size: 14px;
    text-align: center;
}
.download__sources {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.img1 {
    margin-right: 8px;
}
.footer {
    display: flex;
    flex-direction: column;
    padding: 6px 16px 52px;
    color: #8E8E8E;
}
.options {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
    padding: 0 30px;
    list-style: none;
}
.languages {
    justify-content: center;
}
.languages>li {
    margin-left: 5px;
}
.arrow-4 {
    position: relative;
    cursor: pointer;
    width: 66px;
    height: 30px;
}
.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 5px;
    left: 0;
    width: 10px;
    height: 2px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-left:after {
    content: "";
    background-color: #8E8E8E;
    width: 10px;
    height: 2px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 5px;
    left: 6px;
    width: 10px;
    height: 2px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-right:after {
    content: "";
    background-color: #8E8E8E;
    width: 10px;
    height: 2px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}
.languages>li:last-child {
    margin-left: -25px;
}