.company-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .company-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .company-card h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  
  .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .company-card p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .address {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .btn {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  