<select name="" id="sele" class="select">
    <option value="">Phone</option>
    <option value="">Laptop</option>
    <option value="">Accessory</option>
    <option value="">Ipad</option>
</select>

<button class="but" (click)="filter()">Filter</button>

<div *ngFor="let product of products">
    <div id="{{product.id}}">
    <div class="imager">
        <img src={{product.Image}} alt="">
    </div>
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">{{product.name}}</a>
    </h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <div><a href={{product.kaspi}}>Смотреть в Каспи</a></div>

    <button class="mmm" type="button" (click)="share()">
        Share
    </button>
    <button class="deleter" type="button" (click) = "delete(product.id)">DELETE</button>


    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>
    </div>

</div>