<div>
  <nav class="navigation">
    <a routerLink="/" class="logo">Timur Hunter</a>
    <ul class="menu">
      <li class="sections"><a routerLink="/" class="link">Home</a></li>
      <li class="sections"><a routerLink="/companies" class="link">Companies</a></li>
      <li class="sections"><a routerLink="/vacancies" class="link">Vacancies</a></li>
      <li class="sections"><a routerLink="/vacancies/top_ten" class="link">Top-10</a></li>
    </ul>
  </nav>
<p>Find your dream job with me.</p>
</div>